/* Main Content Wrapper */
.homeContent {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 25px;
  border-bottom: 3px solid var(--secondary); /* Borde un poco más grueso */
  padding-bottom: 10px;
  display: inline-block;
  font-weight: 700;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

